body {
  font-family: "Baskerville Old Face", serif;
  background-image: url('img/barber-6818707.jpg'); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: bold;  
}

.signup-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: transparent; 
  padding: 20px;
  border-radius: 10px;
}
.signup-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px; 
  color: #fff; 
  font-weight: bold; 
  font-family: "Segoe Script", cursive;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px; 
  color: #fff; 
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px; 
  color: #000000; 
}

button {
  font-family: "Baskerville Old Face", serif;
  width: 106%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px; 
  transition: background-color 0.3s ease;
  font-weight: bold; 
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px; 
}

p a {
  color: #0bfc53;
  text-decoration: none;
  font-weight: bold; 
}

p a:hover {
  text-decoration: underline;
}
