body {
    margin: 0;
    font-family: "Segoe Script", cursive;
    background-color: #f7f7f7;
    color: #333;
}
header {
    margin-left: 50px;
    padding: 0px;
    box-shadow: none;
    margin-top: 36px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 100px auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

nav ul li {
    margin-right: 100px;
    width: 175px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50;
}
.main-heading {
    color: #ffffff; 
    font-size: 4em;
    font-family: "Segoe Script", cursive;
    text-align: center;
    margin-top: 50px; 
}
main {
    text-align: center;
    padding: 50px;
}

.site-title img {
    margin-bottom: 29px;
    margin-top: -10px;
}

.site-title h1 {
    margin-top: -40px; 
}

.site-title .subtitle {
    margin-top: 5px; 
}

#home {
    background: url('img/Main finalized.png') no-repeat center center fixed;
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text {
    text-align: center;
    color: white;
    margin-top: 1200x; 
}

.landing-text h3 {
    margin-bottom: 10px;
    font-size: 2em;
}

.landing-text h1 {
    margin-bottom: 100px;
}

.h1-get-in {
    margin-top: 200px;
}
.buttons {
    margin-top: 20px;
}

.white-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
}

.white-button:hover {
    background-color: #fff;
    color: #000;
}

#flex-container {
    display: flex;  
    justify-content: space-evenly; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}
.flex-item-left{
    margin-top: 0px;
}
.contact{
    height: 830px;
}
.site-title h1 {
    font-size: 3em; 
}


.button:hover {
    background-color: #ff6347;
}

.opening-hours {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1.5em;
}

.opening-hours p {
    font-weight: bold;
    margin-bottom: 5px;
}

.opening-hours ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.opening-hours ul li {
    margin-bottom: 5px;
}
body {
    margin: 0;
    font-family: "Segoe Script", cursive; 
    background-color: #f7f7f7;
    color: #333;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site-title {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50;
}

.team-header {
    text-align: center;
    padding: 32px;
  }
  .team-header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    color: #1e56a0;
  }
  @media (max-width: 600px) {
    .team h1 {
      font-size: x-large;
    }
  }
  .team p {
    font-weight: 600;
    color: #181b2c;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
  }
  
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0px 44px;
  }
   
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 150px; 
    border-radius: 50%; 
    height: 135px; 
}
  .team .column h3 {
    font-weight: 600;
    font-family: "Lora", sans-serif;
    color: #181b2c;
    text-align: center;
    margin-bottom: 3px;
  }
  .column p {
    font-weight: 400;
    color: #181b2c;
    text-align: center;
  }
  @media (max-width: 800px) {
    .team .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 600px) {
    .team .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
.about-header h1 {
    font-size: 2.5em;
    color: #000; 
    font-weight: bold;
    margin-bottom: 20px;
}

.about-header {
    text-align: center;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
}

.video
{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 100px;
}

.haircut-section {
    text-align: center;
    padding: 300px;
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 30px;
}



.haircut-item {
    display: inline-block; 
    text-align: center; 
    margin-right: 20px;
    width: calc(50% - 10px); 
    margin-bottom: 20px; 
    vertical-align: top; 
}

.haircut-image {
    width: 140px; 
    height: 140px; 
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 10px;
    cursor: pointer; 
}

.haircut-details {
    font-size: 1.2em;
    text-align: center;
    color: #555;
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: auto; 
    height: auto;
    max-width: 100%; 
    max-height: 100%; 
}

.modal-content img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: auto;
}

.close {
    color: #ccc;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff6347;
}

#gallery-header {
    text-align: center;
    padding: 32px;
  }
  .gallery-header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    color: #1e56a0;
  }
  @media (max-width: 600px) {
    .gallery-header h1 {
      font-size: x-large;
    }
  }
  .gallery-header p {
    font-weight: 600;
    color: #181b2c;
  }
  .gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 14px;
  }
  
  .Gal2 {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
  }
  
  .Gal2 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media (max-width: 800px) {
    .Gal2 {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .Gal2 {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 1
    }
}
.Gal2 img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .2s ease-in-out;
  }
  
  .Gal2 img:hover {
    transform: scale(1.05);
  }