body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    padding: 15px 0;
    box-shadow: none;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
    width: 110px; ;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50;
}

main {
    text-align: center;
    padding: 50px;
}

#home {
    background: url('img/adam-winger-KVVjmb3IIL8-unsplash.jpg') no-repeat center center fixed;
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text {
    text-align: center;
    color: white;
}

.landing-text h3 {
    margin-bottom: 10px;
}

.landing-text h1 {
    margin-bottom: 20px;
}
.h1-get-in{
    margin-top: 130px;
}
#flex-container {
    display: flex;  
    justify-content: space-evenly; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}
.flex-item-left{
    margin-top: 100px;
}
.contact{
    height: 830px;
}
.site-title h1 {
    font-size: 3em; 
}


.button:hover {
    background-color: #ff6347;
}

.opening-hours {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.opening-hours p {
    font-weight: bold;
    margin-bottom: 5px;
}

.opening-hours ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.opening-hours ul li {
    margin-bottom: 5px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #f7f7f7;
    color: #333;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site-title {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50;
}

.team {
    text-align: center;
    padding: 50px;
}

.team-container {
    max-width: 800px;
    margin: 0 auto;
}

.team-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.team-caption {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.row {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    
}

.column img {
    width: 80%;
    max-width: 150px;
    border-radius: 80px;
}

.team-member {
    margin-top: 10px;
}

.team-member h3 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.team-member p {
    margin: 0;
    font-size: 0.9em;
}

.about-header h1 {
    font-size: 2.5em;
    color: #000; 
    font-weight: bold;
    margin-bottom: 20px;
}

.about-header {
    text-align: center;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
}

.img-1
{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}
.haircut-section {
    text-align: center;
    padding: 300px;
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 30px;
}


.haircut-item {
    display: inline-block; 
    text-align: center; 
    margin-right: 20px;
    width: calc(50% - 10px); 
    margin-bottom: 20px; 
    vertical-align: top; 
}

.haircut-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 10px;
    cursor: pointer; 
}

.haircut-details {
    font-size: 1.2em;
    text-align: center;
    color: #555;
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: auto; 
    height: auto;
    max-width: 100%; 
    max-height: 100%; 
}

.modal-content img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: auto;
}

.close {
    color: #ccc;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #000;
}

