body {
    font-family: "Baskerville Old Face", serif;
    background-image: url('/img/vahid-kanani-4-QaKPwndmw-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #fff; 
}

.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Added to stack elements vertically */
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px; 
    color: #000000; 
    font-weight: bold; 
    font-family: "Segoe Script", cursive;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px; 
    color: #fff; 
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px; 
    color: #000000; 
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px; 
    transition: background-color 0.3s ease;
    font-weight: bold; 
    font-family: "Baskerville Old Face", serif;
}

button:hover {
    background-color: #0056b3;
}

.login-footer {
    margin-top: 20px; /* Added margin to separate from the button */
    text-align: center;
    font-size: 22px; 
    font-weight: bold;
}

.login-footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold; 
}

.login-footer a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 30px; 
    color: #ffffff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #e2dcdc; 
    text-decoration: underline;
}
