body {
    font-family: "Baskerville Old Face", serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.booking-heading {
    font-family: "Segoe Script", cursive;
}

.container {
    width: 98%;
    height: 96vh;
    background-image: url('img/adam-winger-KVVjmb3IIL8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000; 
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    color: #000000; 
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.timings {
    margin-top: -70px;
    text-align: center;
    color: #000000; 
}

.timings h3 {
    font-size: 18px;
    margin-bottom: 7px;
}

.timings ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.timings li {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    max-width: 400px;
}
.popup img {
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px; 
}

.popup p {
    font-size: 20px;
    margin-bottom: 20px;
}

.popup button {
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #28a745;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 30px; 
    color: #000000; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .back-button:hover {
    color: #000000; 
    text-decoration: underline;
  }